/* Mortgage calculator styles
 * Written by George D. Sotirov, gdsotirov@dir.bg
 *
 * Media: screen, print
 * $Id: mcalc.css,v 1.4 2005/08/15 20:42:12 gsotirov Exp $
 */

@media screen, print {
  a[href] {
    text-decoration: underline;
  }

  body {
    font: normal normal normal medium Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
  }

  button {
    background-color: #999;
    border: 1px solid #000;
    color: #fff;
    font-weight: bold;
  }

  div.row {
    clear: both;
  }

  div.row span.label, div.row span.input {
    float: left;
    margin: 0.2em;
    padding: 0.1em;
  }

  div.row span.label {
    clear: left;
    text-align: right;
    width: 50%;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: Ariel, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-align: center;
  }

  input, select {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
  }

  input {
    text-align: right;
  }

  input[disabled], select[disabled] {
    background-color: #ccc;
  }

  img {
    border: 0 none;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  /* Pseudo classes */
  .copyright {
    color: #ccc;
    font: normal normal normal small Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
  }

  .align-center {
    text-align: center;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .align-justify, .text {
    text-align: justify;
  }

  .red-bold-text-on-light-gray {
    background-color: #ddd;
    color: #f00;
    font-weight: bold;
  }

  .text {
    text-indent: 2em;
  }
}

@media screen {
  input, select {
    background-color: #eee;
  }

  input:hover, input:focus, select:hover, select:focus {
    background-color: #fff;
  }

  button:hover, button:focus {
    border-style: outset;
  }

  .no_screen {
    display: none;
  }
}

@media print {
  input, select {
    border: 0 none;
  }

  .no_print {
    display: none;
  }
}
