/* Mortgage calculator styles
 * Written by George D. Sotirov, gdsotirov@dir.bg
 *
 * Media: screen, print
 * $Id: mcalc.css,v 1.2 2005/04/20 18:52:46 gsotirov Exp $
 */

@media screen, print {
  a {
    color: inherit;
  }

  a.link {
    color: #0000FF;
  }

  body {
    font: normal normal normal medium Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
  }

  button {
    background-color: #999999;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: Ariel, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-align: center;
  }

  input, select {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
  }

  input {
    text-align: right;
  }

  input[disabled], select[disabled] {
    background-color: #CCCCCC;
  }

  img {
    border: 0 none;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  /* Pseudo classes */
  .copyright {
    color: #CCCCCC;
    font: normal normal normal small Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
  }

  .td-center, .align-center {
    text-align: center;
  }

  .td-left {
    text-align: left;
  }

  .td-right {
    width: 50%;
    text-align: right;
  }

  .bold-text {
    font-weight: bold;
  }

  .red-bold-text-on-light-gray {
    background-color: #DDDDDD;
    color: #FF0000;
    font-weight: bold;
  }
}

@media screen {
}

@media print {
  input, select {
    border: 0 none;
  }
}
